# Git
**/.git

# Editors
**/.nvim/
**/.vs/
**/.vscode/

## tmp
**/Debug/
**/bin/
**/build/
**/packages/
*.tmp
**/obj/

# Compress files
# *.zip
# *.7z


# unk
*.pdb
*.cache
*.log
.idea/
thumbs.db
.ds_store
*.user
*.suo
*.userosscache
*.sln.docstates