
@{
    Layout = null;
}
<main>
    <form action="">

        <div>
            <button>Nuevo</button>
            <button>Guardar</button>
            <button>Cancelar</button>
            <button>Eliminar</button>
            
            <label for="buscar_por_id">Buscar por id</label>
            <textarea name="buscar_por_id"></textarea>
            <button>Buscar</button>
        </div>

        <div>
            <label for="">id</label>
            <label for="">nombre</label>
        </div>

        <div>
            <label for="">precio</label>
            <label for="">stock</label>
            <label for="">stock</label>
        </div>


        <button>Salir</button>

        <script>


        </script>
        
    </form>
</main>